@import '~@angular/material/theming';
@import 'variables';

/*
 Include the common styles for Angular Material. We include this here so that you only
 have to load a single css file for Angular Material in your app.
 Be sure that you only ever include this mixin once!
 */
@include mat-core();

$mat-yotacolor: (
        50 : #e0f5fd,
        100 : #b3e7fa,
        200 : #80d7f7,
        300 : #4dc6f4,
        400 : #26baf1,
        500 : $primary-color,
        600 : #00a7ed,
        700 : #009deb,
        800 : #0094e8,
        900 : #0084e4,
        A100 : #ffffff,
        A200 : #d8ecff,
        A400 : #a5d4ff,
        A700 : #8bc8ff,
        contrast: (
                50 : #000000,
                100 : #000000,
                200 : #000000,
                300 : #000000,
                400 : #000000,
                500 : #000000,
                600 : #ffffff,
                700 : #ffffff,
                800 : #ffffff,
                900 : #ffffff,
                A100 : #000000,
                A200 : #000000,
                A400 : #000000,
                A700 : #000000,
        )
);

$primary-palette: mat-palette($mat-yotacolor);
$accent-palette: mat-palette($mat-green);
$warn-palette: mat-palette($mat-red);

$theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

$warn: map-get($theme, warn);
$background: map-get($theme, background);

/**
 * $mat-light-theme-foreground: (
 *   base:            black,
 *   divider:         $black-12-opacity,
 *   dividers:        $black-12-opacity,
 *   disabled:        rgba(black, 0.38),
 *   disabled-button: rgba(black, 0.38),
 *   disabled-text:   rgba(black, 0.38),
 *   hint-text:       rgba(black, 0.38),
 *   secondary-text:  rgba(black, 0.54),
 *   icon:            rgba(black, 0.54),
 *   icons:           rgba(black, 0.54),
 *   text:            rgba(black, 0.87)
 * )
 */
$foreground: map-get($theme, foreground);
$is-dark-theme: map-get($theme, is-dark);
$text: map-get($foreground, text);

@include angular-material-theme($theme);

.primary-color {
    color: $primary-color;
}

.accent-color {
    color: $accent-color;
}

.warn-color {
    color: $warn-color;
}
