<mat-sidenav-container>
    <mat-sidenav #sidenav position="start" >
        <mat-list>
            <mat-list-item>
                <button mat-button>
                    <mat-icon>info</mat-icon>
                    About
                </button>
            </mat-list-item>
            <span class="flex"></span>
            <mat-list-item>

            </mat-list-item>
        </mat-list>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="main-toolbar mat-elevation-z6">
            <ng-container *ngIf="authService.user">
                <a mat-button routerLink="" routerLinkActive="mat-primary">Search</a>
            </ng-container>

            <span class="flex"></span>

            <button *ngIf="!authService.user; else logoff" mat-button routerLink="login" routerLinkActive="mat-primary">
                <mat-icon>perm_identity</mat-icon>
                login
            </button>
            <ng-template #logoff>
                <span>{{authService.user!.login}}</span>
                <button mat-icon-button color="warn" (click)="logout(); sidenav.close()">
                    <mat-icon>power_settings_new</mat-icon>
                </button>
            </ng-template>
        </mat-toolbar>

        <div class="loading-placeholder">
            <mat-progress-bar mode="indeterminate" *ngIf="notificationService.isBusy$ | async"></mat-progress-bar>
        </div>

        <main class="content" [@routerTransition]="getState(o)">
            <router-outlet #o="outlet"></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
